

.client-page-container{
    width: 100%;
    padding: 30px;
    margin-right: 80px;
    height: 95vh;
    align-items: center;
}

:root{
    --primary: #959A28;
    --secondary: #949a2863;
    --main-background: rgb(247, 252, 245);
    --table-hover: #9fa115cc;
    --font-colour: rgb(49, 49, 49)
}

table{
    border-collapse: collapse;
    margin: 0;
    margin-top: 30px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
}

table tr{
    padding: .45rem;
}
thead tr{
    background-color: var(--primary);
}

thead th{
    color:var(--font-colour);
    font-size: 1.15rem;
}

tbody tr:nth-child(even){
    background-color: #949a2863;
}

table th,
table td{
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}

.thead th{
    color:var(--font-colour);
    font-size: 1.15rem;
}


tbody tr:hover{
    cursor: pointer;
    background-color: var(--table-hover);
}

.table_field_button i{
    padding: 10px 15px;
    border-radius: 3px;
}

.table_field_button i:hover{
    cursor: pointer;
    background-color: var(--main-background);
    box-shadow: 0 0 5px rgba(0,0,0,.45);
}

.container-pagination{
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button{
    padding: 7px 16px;
    color: var(--font-colour);
    background-color: var(--secondary);
    cursor: pointer;
    border: 1px;
    border-radius: 9%;
    margin: 2px;
}

.button.active, .button:hover{
    text-decoration: none;
    color: var(--font-colour);
    background: var(--table-hover)
}

.filter-section{
    display:flex;
    align-items: center;
}

.search-filter{
    background-color: var(--main-background);
    width: 50%;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-filter span{
    font-size: 20px;
}
.search-filter button{
    padding: 7px 16px;
    color: var(--font-colour);
    background-color: var(--secondary);
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    margin: 2px;
}

.search-filter button:hover{
    background-color: var(--table-hover);
}
.search-filter input{
    height: 35px;
    width: 180px;
    padding: 1px 7px;
    margin: 3px;
}

.filter-buttons{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.filter-buttons button{
    background-color: var(--secondary);
    border: none;
    border-radius: 9%;
    padding: 8px 15px;
    margin: 2px;
}

.filter-buttons button:hover{
    background-color: var(--table-hover);
}




::placeholder{
    text-align: center;
}


