
{% block client_popup_sucess %}
    <!-- Popup Form -->
    <div id="popupForm" class="popup_client">
        <div class="popup_client_content">
                <div class="client_content_header">
                    <span class="close" onclick="closePopup()">&times;</span>
                    <h1>Sucesso</h1>
                    <hr>
                </div>
                </div>
                <div class="client_content_buttons">
                </div>
            </form>
        </div>
    </div>
{% endblock %}