
{% extends 'base_layout.html' %}
{%block content%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<div class="client-page-container">
    {% for msg in messages%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="message">
        <strong>WOW!</strong> {{msg}}
          <button style="justify-content: center"type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    <h1>Clientes</h1>
    <hr>
    {% include 'form_client.html' %}
    {% include 'form_client_edit.html' %}
    <div class="filter-section">
        <div class="search-filter">
            <span><i class='bx bx-search-alt'></i></span>
            <form method="get">
                <input name="search-bar" type="text" id="searchInput" placeholder="Procurar" value ={{search_query}} >
                <button type="submit">Procurar</button>
            </form>
            <button onclick="clearFilter()">Limpar</button>
        </div>
        <div class="filter-buttons">
            <button id="showClosed" onclick="openPopup()"><i class='bx bxs-add-to-queue'></i></button>
            <button id="importClients">Exportar</button>
            <button id="createClient">Importar</button>
        </div>
    </div>
    <hr>
    <div>
    <span>Mostrando {{pagr_obj.start_index}}-{{pagr_obj.end_index}} de {{pagr_obj.paginator.count}} Clientes </span>
    <select id="row_number">
        <option value="15" {% if request.GET.rows == "15" %}selected{% endif %}>15</option>
        <option value="20" {% if request.GET.rows == "20" %}selected{% endif %}>20</option>
        <option value="30" {% if request.GET.rows == "30" %}selected{% endif %}>30</option>
        <option value="50" {% if request.GET.rows == "50" %}selected{% endif %}>50</option>
        <option value="100" {% if request.GET.rows == "100" %}selected{% endif %}>100</option>
        <option value="30000" {% if request.GET.rows == "30000" %}selected{% endif %}>Todos</option>
    </select>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('row_number').addEventListener('change', function() {
                var rowNum = this.value;
                var currentSearch = "{{ search_query|escapejs }}";
                window.location.href = "?rows=" + rowNum + "&search-bar=" + encodeURIComponent(currentSearch);
            });
        });
    </script>
    
    <div>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>NºCliente</th>
                <th>Nome</th>
                <th>Localidade</th>
                <th>Contacto</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for client in pagr_obj %}
            <tr>
                <td class="table_field">{{client.id}}</td>
                <td class="table_field">{{client.nome}}</td>
                <td class="table_field">{{client.morada}}</td>
                <td class="table_field">{{client.contacto}}</td>
                <td class="table_field_button"><i class='bx bxs-edit-alt' onclick="openPopup_client_edit()"></i></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <div class="container-pagination">
        <div class="row my-5">
            <div class="col-md-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if pagr_obj.has_previous %}
                        <li class="page-item"> 
                            <a class="button" href="?page=1&search-bar={{search_query}}" aria-label="Previous">Início</a>             
                        </li>
                    <li class="page-item">
                        <a class="button" href="?page={{ pagr_obj.previous_page_number }}&search-bar={{search_query}}" aria-label="Previous">Anterior</a>
                    </li>
                    {% endif %}
                    {% for num_page in pagr_obj.paginator.page_range %}
                        {%if pagr_obj.number == num_page %}
                            <li class="page-item"><a class="button active" href="?page={{num_page}}">{{pagr_obj.number}}</a></li>
                        {% elif pagr_obj.number != num_page %}
                            <li class="page-item"><a class="button" href="?page={{ num_page }}&search-bar={{search_query}}">{{ num_page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if pagr_obj.has_next %}
                    <li class="page-item">
                        <a class="button" href="?page={{pagr_obj.next_page_number}}&search-bar={{search_query}}" aria-label="Next">
                        <span aria-hidden="true">Seguinte</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="button" href="?page={{pagr_obj.paginator.num_pages}}&search-bar={{search_query}}" aria-label="Next">
                        <span aria-hidden="true">Fim</span>
                        </a>
                    </li>
                    {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    

</div>

{%endblock%}
  